<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>能力詳細</h2>
  <table border="1">
      <% for( let row of data ) { %>
        <tr>
            <td>id</td>
            <td>種類</td>
            <td>効果</td>
        </tr>
        <tr>
            <td><%= row.megidoID %></td>
            <td><%= row.種類 %></td>
            <td><%= row.効果 %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>