<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Q&A詳細</h2>
  <table border="1">
      <% for( let row of data ) { %>
        <tr>
            <td>QID</td>
            <td>Q</td>
            <td>詳細</td>
        </tr>
        <tr>
            <td><%= row.QID %></td>
            <td><%= row.Q %></td>
            <td><%= row.詳細 %></td>
        </tr>
      <% } %>
  </table>
        <input type="button" onclick="history.back()" value= "戻る">
</body>
</html>