<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Mトップページ</h2>
  <p><%= mes %></p>
  <a href="/keibajyou">メギド一覧</a><br>
  <a href="/kyousouba">ボス一覧</a><br>
  <a href="/tugi">次のレース</a>
</body>
</html>