<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>競馬トップページ</h2>
  <p><%= mes %></p>
  <a href="/keibajyou">競馬場一覧</a><br>
  <a href="/kyousouba">競争馬一覧</a><br>
  <a href="/tugi">次のレース</a>
</body>
</html>