<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>メギド72トップページ</h2>
  <p><%= mes %></p>
  <a href="/megido">メギド一覧</a><br>
  <a href="/boss">ボス一覧</a><br>
  <a href="/public/yougo.html">用語説明</a><br>
</body>
</html>